In [158]:
import numpy as np 
import pandas as pd

In [159]:
df = pd.read_csv("C:/Users/welcome/Desktop/house_price_regression_dataset.csv")

In [160]:
df.head(3)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,262382.852274
1,4272,3,3,2016,4.753014,1,6,985260.854490
2,3592,1,2,2016,3.634823,0,9,777977.390119

In [161]:
df['m2'] = df['Square_Footage']*0.0929030


df = df.drop("Square_Footage", axis=1)

In [162]:
df.head()

,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price,m2
0,2,1,1981,0.599637,0,5,2.623829e+05,126.348080
1,3,3,2016,4.753014,1,6,9.852609e+05,396.881616
2,1,2,2016,3.634823,0,9,7.779774e+05,333.707576
3,1,2,1977,2.730667,1,8,2.296989e+05,89.744298
4,2,1,1993,4.699073,0,8,1.041741e+06,457.640178

In [163]:
y = df['House_Price']
x = df.drop("House_Price", axis=1)

In [164]:
from sklearn.model_selection import train_test_split

In [165]:
x_train,x_test,y_train,y_test = train_test_split(x,y, random_state=66, train_size=0.8)

In [166]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [167]:
model = LinearRegression()
model.fit(x_train, y_train)
model.score(x_test, y_test)

# %99

0.9984590558349965

In [168]:
df.head(3)

,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price,m2
0,2,1,1981,0.599637,0,5,262382.852274,126.348080
1,3,3,2016,4.753014,1,6,985260.854490,396.881616
2,1,2,2016,3.634823,0,9,777977.390119,333.707576

In [169]:
model.predict([[5,3,2000,5.5,2,10,420]])

C:\Users\welcome\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1046380.14940322])